@import "compass";
@import "juice";

// Colors 
$c-text: #333;
$c-white: #fff;
$c-main: #03a9f4;
$c-lightbox: lighten($c-main, 10);

$c-light: lighten($c-main, 36);
$c-overlay: rgba($c-main, 0.5);
$c-border: #ddd;

// Screens 
$bp-xsmall: 480px;
$bp-small: 768px;
$bp-medium: 970px;
$bp-large: 1170px;

// Spacing
$trim-sm: 1rem;
$trim: 2rem;
$trim-2x: 4rem;
$bootstrap-trim: 15px;

// Fonts
$f-general: 'Open Sans', arial, sans-serif;
$f-title: 'Oswald';

// Text sizes
$fz-base : 16px;
$fz-m: 1rem;
$fz-l: 1.125rem;
$fz-xl: 1.625rem;
$fz-title: 2.25rem;
$fz-title-sm: 1.875rem;

//animation
$ani-duration : .4s;

@include keyframes(spin) { // spin
	0% { @include transform(rotate(0deg)); }
	10%, 100% { @include transform(rotate(360deg)); }
}

@mixin selection($bg, $color) {
	@each $prefix in ("-moz-", "") {
		:#{$prefix}selection {
			color: $color;
			background: $bg;
		}
	}
}

@function makelongshadow($color) {
	$val: 0 0 $color;
	@for $i from 1 through 200 {
		$val: #{$val}, #{$i}px #{$i}px #{$color};
	}
	@return $val;
}

@mixin longshadow($color) {
	text-shadow: makelongshadow($color);
}

%overlay {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: $c-overlay;
	display: block;
	z-index: 1;
}

%circle {
	@include border-radius(50%);
}


/// END variables / Mixins



// BEGIN STYLES 

@include selection($c-main, $c-white);

html {
	font-size: $fz-base;
}

body {
	background: #fff;
	color: $c-text;
	font-family: $f-general;
	font-weight: 300;
	line-height: 1.5;
}

h1, h2, h3, .h1, .h2, .h3 {
	margin: 0;
}

h2, h3, .h2, .h3 {
	font-family: $f-title;
	font-size: $fz-title-sm;

	@include bp(min, $bp-small) {
		font-size: $fz-title;
	}
}

a {
	color: $c-main;
	text-decoration: none;
    &:hover, &:focus {
		text-decoration: none;
	}
}

.ani-on, .ani-on *, .ani-on *:before, .ani-on *:after {
	@include transition(all $ani-duration ease);
}
.ani-off{
	@include transition-duration(0s);
}

.overlay{
	@extend %overlay;
    clear: none;
}

.center{
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.middle{
	display: block;
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));

	.screen &{
		position: absolute;
	}

	&.center{
		left: 50%;
		@include transform(translate(-50%, -50%));
	}
}

.text-center {
	text-align: center;
}

.p1px {
	padding-top: 1px;
}


/**==== header ====**/

#header {
	font-family: $f-title;
	padding: .25rem 0;
	position: absolute;
	height: 4rem;
	width: 100%;
	z-index: 999;

	a {color: $c-light;}

	&.fixed{
		background: $c-white;
		border-bottom: 1px solid $c-main;
		height: 3rem;
		position: fixed;
		@include box-shadow(0 0 $trim rgba(0, 0, 0, 0.3));
	
		a {
			color: $c-main;
		}
	}
}

#brand {
	float: left;
	font-size: $fz-xl;
	line-height: 4rem;
	.fixed & {
		line-height: 2.6rem;
	}
}

#logo {
	height: 2.6rem;
	width: 2.6rem;
	vertical-align: text-bottom;
	@include animation(spin 5s infinite);

	#circle {
		fill: $c-white;
		.fixed & { fill: transparent; }
	}
	#shape {
		fill: transparent;
		.fixed & { fill: $c-main; }
	}
}

#menu-toggle {
	float: right;
	line-height: 4rem;

	.fixed & {
		line-height: 2.6rem;
	}

	&.active i{
		@include transform(rotate(-90deg));
	}

	@include bp(min, $bp-small){
		display: none;
	}
}

#nav {
	clear: both;
	position: relative;
	display: none;
	line-height: 2.2rem;
	margin: 0 -$bootstrap-trim;

	& > ul{
		list-style-type: none;
		margin: 0;
		padding: 0;

		li a {
			display: block;
			padding: 4px $bootstrap-trim;
			font-size: $fz-l;
			text-align: right;
            text-transform: lowercase;
			border-bottom: 1px solid #ddd;
		}
	}
    
    @include bp(max, $bp-small) {
        .fixed &{
            background: $c-white;
        }
	}

	@include bp(min, $bp-small){
		display: block!important;
		clear: none;
		float: right;
		line-height: 1;
		margin: 1.25rem 0 0;

		& > ul li {
			float: left;
			margin-left: 2rem;

			&:first-child{
				margin-left: 0;
			}

			a {
				display: inline-block;
				border-top: 1px solid transparent;
				border-bottom: 1px solid transparent;

				&:hover{
					border-color: currentColor;
				}

			}
		}

		.fixed &{
			margin-top: .5rem;
		}
	}
}

/**==== main ====**/

$box-width-xs: 80%;
$box-width-sm: 60%;
$box-width: 40%;

.screen {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	@include background-size(cover);
	color: $c-white;
	position: relative;
	min-height: 600px;
	min-height: 100vh;
	overflow: hidden;
	@include transform-style(preserve-3d);

	&.half {
		min-height: 300px;
	}

	.box {
		background: $c-overlay;
		color: $c-white;
		padding: $trim;
		position: absolute;
		width: $box-width-xs;
		left: -$box-width-xs;

		@media screen and (orientation: portrait) {
			position: static!important;
			margin: ($trim * 2) auto;
			@include transform(none);
		}

		&.right {
			left: auto;
			right: -$box-width-xs;
		}

		@include bp(min, $bp-small) { // box size sm
			width: $box-width-sm;
			left: -$box-width-sm;

			&.right {
				left: auto;
				right: -$box-width-sm;
			}
		}

		@include bp(min, $bp-medium) { // box size md
			width: $box-width;
			left: -$box-width;

			&.right {
				left: auto;
				right: -$box-width;
			}
		}

		&.show {
			left: 0;
            
			&.right{
				left: auto;
				right: 0;
			}
		}

	}

	h2 {
		text-transform: uppercase;
		margin-bottom: 1rem;
	}

	p {
		font-size: $fz-l;
	}
}

.line {
	height: 0;
	width: 40%;
	min-width: 300px;
	max-width: 80%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	border-top:1px solid $c-main;

	&.white{
		border-color: $c-white;
	}
}

#intro {
	background-image: url(../images/intro.png);

	h1 {
		font-size: 2.75rem;
	}

	p {font-size: 1.5rem}
	
	@include bp(min, $bp-small) {
		h1{white-space: nowrap;}
	}

	@include bp(min, $bp-medium) {
		h1 {font-size: 3.75rem;}
	}

	.center{
		z-index: 2;
	}

}

#bg-video {
	background: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;	
}

#what-we-do.screen {background-image: url('../images/whatwedo.png')}
#who-we-are.screen {background-image: url('../images/whoweare.png')}
#our-work .screen {background-image: url('../images/our-work.png')}
#contact .screen {background-image: url('../images/contact.png')}

/* featured projects */
.featured-pj {
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 4rem;

	h3 {
		color: $c-main;
		margin: 0 0 3em;
	}

	img {
		display: block;
		max-width: 100%;
	}
}

/* grid view items */
.pj-items{

	article {
		margin-bottom: $trim;
		position: relative;

		img {
			width: 100%;
		}

		.h2 {
			text-transform: uppercase;
			font-size: $fz-xl;
		}
			
		a {
			padding: 0 2em; 
			@extend %overlay;
			color: $c-white;
			text-decoration: none;

			.no-touch & { // hide overlay info in no-touch device
				opacity: 0;
				&:hover{
					opacity: 1;
				}
			}
		}

		.line {
			border-color: $c-white;
			width: 20%;
			padding-top: 1px;
			min-width: 0;
		}

		@include bp(min, $bp-small) {
			width: 49%;
			margin: 0 0 2% 2%;
			float: left;

			&:nth-child(2n + 1){
				clear: both;
				margin-left: 0;
			}

		}

		@include bp(min, $bp-medium) {
			width: 32.33333%;
			margin: 0 0 1.5% 1.5%;

			&:nth-child(2n + 1){
				clear: none;
				margin-left: 1.5%;
			}

			&:nth-child(3n + 1){
				clear: both;
				margin-left: 0;
			}
		}
	}
}

/* contact */
.contact-info{
	margin-top: 4rem;
	margin-bottom: 4rem;

	.tip {
        @extend %circle;
		background: $c-main;
		color: $c-white;
		display: inline-block;
		width: 130px;
		height: 130px;
		position: relative;
		text-align: center;

		i { @extend .middle; }

        $arrow-size: 10px;
		.tip-info {
			position: absolute;
			z-index: 2;
			top: 110%;
			visibility: hidden;
			opacity: 0;
			width: 180%;
			left: -40%;
			background: $c-lightbox;
			color: $c-white;
			padding: 1em;
			margin-top: $arrow-size;
			@include box-shadow(0 0 10px rgba(255, 255, 255, .6));

			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: 100%;
				left: 50%;
				margin-left: -$arrow-size;
				border-bottom: $arrow-size solid $c-lightbox;
				border-left: $arrow-size solid transparent;
				border-right: $arrow-size solid transparent;
			}
		}
        
		&.show-tip i:before, &:hover i:before {
			@include transform(rotate(360deg)); 
		}
        
		&.show-tip .tip-info, &:hover .tip-info{
			visibility: visible;
			opacity: 1;
			top: 100%;
			@include transition-delay($ani-duration); // show tooltip after rotate animation
		}

		& + .tip {
			margin-left: 3rem;
		}

		margin-top: 3rem;
	}
	
	@include bp(min, $bp-small) {
		.tip {margin-top: 0;}
		.col-sm-4:first-child {text-align: right; }
		.col-sm-4:last-child {text-align: left; }
	}	

}
.social-links {
	margin-top: 6rem;

	@include bp(min, $bp-small) {
		margin-top: 3rem;
	}

	a {
		position: relative;
		z-index: 1;
		& + a {
			margin-left: 1rem;
		}
	}

	.fa-twitter-square {color: #00aced; }
	.fa-rss-square {color: #f60; }
	.fa-facebook-square {color: #3b5998; }

	.line {
		width: 50%;
		margin-bottom: -1.25rem;
		position: relative;

		&:before{
			display: block;
			content: '';
			position: absolute;
			width: 12rem;
			left: 50%;
			margin-left: -6rem;
			top: -2px;
			background: #fff;
			height: 4px;
			
		}
	}
}

.contact-form {
	background: $c-main;
	color: $c-white;
	padding: 3rem 0;

	$input-spacing: 1.4em;

	.container {
		width: 700px;
		max-width: 100%;
	}

	h3 {
		text-align: center;
	}

	input, textarea {
		background: none;
		display: block;
		width: 100%;
		height: 2rem;
		line-height: 2rem;
		padding-left: 2rem;
		border: 0;
		outline: 0;
		border-bottom: 1px dashed $c-light;

		@include input-placeholder {
			color: $c-white;
		}

		&:focus {
			@include input-placeholder {
				color: transparent;
			}
		}
        
        // webkit yellow background fix
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 999px $c-main inset;
            -webkit-text-fill-color: $c-white;
        }
	}

	.message {
		margin-top: $input-spacing;
		border: 1px dashed $c-light;
		background: $c-lightbox;
		padding-right: 2rem;
		padding-top: .8rem;
		padding-bottom: .8rem;
		line-height: 1.4;
		min-height: 8em;
		resize: none;
	}

	.input-box {
		margin-top: $input-spacing;
		position: relative;

		i {
			@extend .middle;
			position: absolute;
		}
	}

	.actions {
		margin-top: $input-spacing;

		.btn {
			background: none;
			border: 1px dashed $c-light;
			color: $c-white;

			&:hover{
				background: $c-lightbox;
			}
		}
	}
}

/**==== footer ====**/

#footer {
	background: darken($c-main, 20%);
	color: lighten($c-main, 20%);
}

.copyright {
	margin: 0;
	line-height: 3rem;
	text-align: center;
}
